<!-- Importação do header -->
<%- include('partials/header.ejs') %>

    <!-- Conteúdo principal -->
    <div class="container">

        <%- include('partials/menu.ejs') %>
    </div>


    <!-- Importação do footer -->
    <%- include('partials/footer.ejs') %>