<%- include('../partials/header.ejs') %>

    <body>

        <div class="container">

            <%- include('../partials/menu.ejs') %>

                <div class="card">

                    <div class="card-header">
                        <h3 style="text-align: center;margin: 30px;">Cadastro do medicamento</h3>
                    </div>

                    <div class="card-body">

                        <form action="http://localhost:3333/cadastrarMedicamento" method="post">

                            <label for="nome_medicamento" style="font-weight: bold;">Nome do medicamento:</label>
                            <input class="form-control" type="text" name="nome_medicamento" id="nome_medicamento"
                                placeholder="..." required><br>

                            <label for="descricao_medicamento" style="font-weight: bold;">Descrição do
                                medicamento:</label>
                            <input class="form-control" type="text" name="descricao_medicamento"
                                id="descricao_medicamento" placeholder="..." required><br>

                            <!-- <label for="validade_medicamento" style="font-weight: bold;">Validade do
                                medicamento:</label>
                            <input class="form-control" type="number" name="validade_medicamento"
                                id="validade_medicamento birth-date" placeholder="00/00/0000"
                                maxlength="10"><br>

                            <label for="horario_medicamento" style="font-weight: bold;">Horario do medicamento:</label>
                            <input class="form-control" type="number" name="horario_medicamento"
                                id="horario_medicamento" placeholder="00:00"><br> -->

                            <label for="quant_medicamento" style="font-weight: bold;">Quantidade do medicamento:</label>
                            <input class="form-control" type="number" name="quant_medicamento" id="quant_medicamento"
                                placeholder="..." required><br>

                            <button class="btn btn-warning mt-2" onclick="sucesso()">Cadastre</button>

                        </form>

                    </div>

                </div>

        </div>

    </body>

    <%- include('../partials/footer.ejs') %>

        </html>

        <script>
            function sucesso() {
                // alert("Medicamento salvo !!");
            }
        </script>